.navbar {
    border: none;
    background: #A94F74;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.open>a {
    background: #B96A8B;
}

.dropdown-header {
    color: #A94F74;
}

.eventTitle, .fa-question-circle, .eventResourceURL {
	color: #26a69a;
}

.fa-times {
	color: #A94F74;
}

#animatePanelButton {
	background: #B96A8B;
}

#animateTimelineButton,
#animateStatsPanelButton {
	border: none;
    background: #26a69a;
}

.btn-info {
	background: #26a69a;
}

.btn-info:hover {
	background: #1c7d73;
}

.btn-danger {
	background: #A94F74;
}

.btn-danger:hover {
	background: #8b4160;
}

.alert-info {
	color: #26a69a;
	background: #c1f1ec;
}

.alert-danger {
	color: #A94F74;
	background: #e7cbd6;
}